<!doctype html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title>ng-pattern-restrict test</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="src/ng-pattern-restrict.js"></script>
  <script type="text/javascript">
  	angular.module("MyApp", ["ngPatternRestrict"]);
  </script>
</head>
<body>
    <!-- numerical input tests -->
    <input type="number" id="numericOneToThree" ng-model="numericOneToThree" ng-pattern-restrict="^[1-3]+$" />

    <!-- alphabetical input tests -->
    <input type="text" id="alphabeticalInput" ng-model="alphabeticalInput" ng-pattern-restrict="^[A-Za-z]+$" />

    <!-- changing attributes test -->
    <input type="text" id="changeRegex" ng-model="changeRegex" ng-pattern-restrict="{{regexToChange}}" />
    <input type="text" id="regexToChange" ng-model="regexToChange" value="^[A-Za-z]+$" />

    <!-- pattern attribute test -->
    <input type="text" id="patternTest" ng-model="patternTest" ng-pattern-restrict pattern="^[A-Za-z]*$" />
    <input type="text" id="patternUpdateTest" ng-model="patternUpdateTest" ng-pattern-restrict="{{regexToChangePattern}}" />
    <input type="text" id="regexToChangePattern" ng-model="regexToChangePattern" value="^[A-Za-z]+$" />
</body>
</html>